/* section {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
}
section form {
    width: 580px;
    height: 550px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
section h1 {
    margin: 20px 0px;
}
section button {
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
section form label {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}
section form label input {
    height: 7s2px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
p {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.signup-login span {
    color: #ff4141;
    font-weight: 600;
}
p span{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
} */